*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(10, 112, 126);
    align-items: center;
}
.container{
    display: grid;
    width: 100%;
    padding: 10px;
    grid-template-areas:
     'navigation navigation navigation navigation'
     'menu main main main'
     'menu content content content'
     'footer footer footer footer'
    ;
    column-gap: 10px;
    row-gap: 10px;
}
.container div{
    text-align: center;
    
    align-content: center;
    text-align: center;
    
}
.item1{
    grid-area: navigation;
    display: flex;
    width: 100%;
    height: 40px;
    background-color:whitesmoke;
    align-items: center;
    justify-content: space-between;
}
.item2{
    grid-area: menu;
    background-color:whitesmoke;
    display: grid;
    width: 100%;
    justify-content: center;
    border-radius: 8px;
    row-gap: 30px;
}
.item3{
    background-color:whitesmoke;
    grid-area: main;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    /* background-color: blanchedalmond; */
}
.c:hover .para1>h2{
      color: rgb(7, 82, 82);
}
.c:hover .para1>p{
    color: rgb(13, 124, 124);
}
.c:hover img{
    width:400px;
    transition: 200ms;
}
.item4{
    background-color:whitesmoke;
    grid-area: content;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 8px;
    /* background-color: aquamarine; */
}
.item5{
    grid-area: footer;
    background-color:whitesmoke;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
}
.address{
    width:50%;
}
.address p{
    text-align: left;
    font-size: 22px;
}
.address h2{
    text-align: left;
    margin-bottom: 5px;
}
.map{
    width: 50%;
}
iframe{
    width: 100%;
    border: 0px;
}
.search>input{
    border:1px solid rgb(7, 82, 82);
    background-color: transparent;
    font-size: 12px;
    padding:6px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}
.search>input::placeholder{
    color:rgb(7, 82, 82);
}
.search>label{
    background-color:rgb(7, 82, 82);
    border:1px solid rgb(7, 82, 82);
    color: white;
    padding:6px 10px;
    font-size: 12px;
    margin-left: -6px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.icon{
   
    color:rgb(7, 82, 82);
    font-size: 20px;
    align-items:center;
}
.whole{
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-around;
    height: 30px;
    align-items:center;
}
span{
    color: rgb(26, 128, 223);
}
.profile p{
    width: 140px;
    text-align: left;
    font-size: 12px;
   
}
.j{
    padding: 10px;
}
.j:hover{
    box-shadow: 0px 0px 5px 5px  rgb(3, 53, 53);
}
  

.card{
    display: flex;
    align-items: center;
    
}
.card h2{
    color: rgb(7, 82, 82) ;
    
}
.item2 button{
    font-size: 18px;
    padding: 5px 0px;
    width: 150px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 124, 124);
    border: 1px solid rgb(7, 82, 82);
    border-radius: 10PX;
    box-shadow: 0px 0px 4px 4px rgb(7, 56, 56);
}
.image1{
    width:50%;
}
.para1{
    width: 50%;
}
img{
    width:200px;
    height: 200px;
    border-radius: 10px;
}
.para1>p{
      
      height: 200px;
      color: grey;
      overflow: hidden;
      margin-top: 10px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item4 .para1{

    text-align: left;
}
.item3 .para1{

    text-align: right;
}
a{
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 0px;
    color:  rgb(7, 82, 82);

}
.menu{
    box-shadow: 0px 0px 4px 4px  rgb(7, 82, 82);
    display: none;
    text-align: center;
    padding: 0px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
}
.menu a:hover{
   
    color:  white;
    background-color: rgb(7, 82, 82) ;
}
.dropdown:hover .menu{
    display:grid;
}
.icon:hover .menu{
    display: grid;
    position: relative;
    right: 0px;
    top: 78px;
}

.mob{
    display:flex ;
    align-items: center;
}
@media only screen and (min-width:350px) and (max-width:700px) {
  .container{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: column;
  }
  
    .item1> .search,.mob{
    display: none;
  }   
  .item3{
    flex-direction: column;
    flex-wrap: wrap;
  }  
  .item4{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .item5{
    flex-direction: column;
    align-items: center;
  }    
   .para1>h2,p{
    text-align: center;
   } 
     
          
}